<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
        crossorigin="anonymous">
  <title>Reporte - Tentativa de Aumento</title>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">Reporte - Tentativa de Aumento</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item" >
          <a class="nav-link btn btn-warning" th:href="@{/empleados}" >Empleados</a>
        </li>
        <li class="nav-item" >
        <li class="nav-item" >
          <a class="nav-link btn btn-info" th:href="@{/historial}">Historial</a>
        </li>
        <li class="btn-group nav-item">
          <button type="button" class="btn btn-success dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
            Reportes
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/reportes/salario}">Salario</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" th:href="@{/reportes/aumento}">Tentativa aumento</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" style="display: flex; align-content: center; justify-content: space-around">
    <img th:src="@{/wenas.png}">
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>
</html>
